:root {
  --main-color: #d2302f;

  /* mainRgba
 rgba(210, 48, 47) */

  --white-colorOne: #f5f5f5;

  --white-colorTwo: #ffffff;

  --black-colorOne: #818181;

  --black-colorTwo: #000000;
}

body {
  position: relative;
  background-color: #f5f5f5;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
strong {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

/* NAV */
nav {
  width: 100%;
  background-color: var(--main-color);
  position: relative;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav .nav__wrap {
  width: 70vw;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
}

nav .nav__wrap .nav__leftMenu {
  width: 18.125em;
}

nav .nav__wrap .nav__leftMenu > span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 30px;
  color: var(--white-colorOne);
  cursor: pointer;
  visibility: hidden;
}

nav .nav__wrap .nav__leftMenu ul {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav .nav__wrap .nav__leftMenu ul li {
  margin-right: 50px;
}

nav .nav__wrap .nav__leftMenu ul li a span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-colorOne);
  font-size: 20px;
}

nav .nav__wrap .nav__leftMenu ul li a span + p {
  margin: 0;
  color: var(--white-colorOne);
  font-size: 12px;
  font-weight: 300;
}

nav .nav__wrap .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
}

nav .nav__wrap .logo img {
  width: 12.5em;
}

nav .nav__wrap .nav__rightMenu {
  width: 18.125em;
  position: relative;
}

nav .nav__wrap .nav__rightMenu ul {
  display: flex;
  line-height: 100px;
  position: absolute;
  right: 0;
}

nav .nav__wrap .nav__rightMenu ul li {
  font-size: 12px;
  margin-left: 30px;
  font-weight: 300;
}

nav .nav__wrap .nav__rightMenu ul li a {
  color: var(--white-colorOne);
}

/* MAIN */
main {
  width: 100%;
  background: url(IMG/MAIN/main.png) no-repeat center;
  background-size: cover;
  position: relative;
  object-fit: cover;
}

.mainText__wrap {
  max-width: 70vw;
  width: 100%;
  height: 82vh;
  margin: auto;
  position: relative;
  display: flex;
}

.mainText__wrap::after {
  content: "";
  width: 37em;
  height: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  border: 1px solid var(--white-colorOne);
  border-radius: 10px;
}

main .mainText__wrap .mainText {
  color: var(--white-colorOne);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

main .mainText__wrap .mainText p {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 3px;
}

main .mainText__wrap .mainText p b {
  font-weight: 200;
  letter-spacing: 15px;
}

main .mainText__wrap .mainText h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
  position: relative;
  opacity: 0.9;
}

main .mainText__wrap .mainText h1::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 6%;
  border-radius: 5px;
  background-color: var(--white-colorOne);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* SEARCH */
.search {
  width: 100vw;
  height: 55vh;
  margin: 80px auto;
  padding-top: 40px;
  position: relative;
  background: url(IMG/SEARCH/search.png) no-repeat center;
  background-size: cover;
}

.search .search__container {
  width: 70vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}

.search .search__container p {
  font-size: 42px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
  padding-top: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.search .search__container .search__input-wrap {
  width: 100%;
  height: 15vh;
  /* background-color: rgba(255, 232, 152, 0.2); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search__container .search__input-wrap .search__date {
  width: 66%;
}

.search .search__container .search__input-wrap .search__date #in {
  width: 50%;
}

.search .search__container .search__input-wrap .search__date #out {
  width: 50%;
  margin-left: 15px;
}

.search .search__container .search__input-wrap .search__date input[type="date"] {
  width: 33%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  margin: 0 15px 0 10px;
}

.search .search__container .search__input-wrap .search__date .check__inout {
  font-size: 16px;
  font-weight: 200;
  color: #f5f5f5;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.search .search__container .search__input-wrap .search__textfield {
  width: 34%;
}

.search .search__container .search__input-wrap .search__textfield input[type="text"] {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  padding-left: 30px;
}

.search .search__container .search__input-wrap .search__textfield input[type="text"]:focus {
  outline: 1px solid #f05053;
  padding-left: 30px;
}

.search .search__container button {
  position: absolute;
  right: 0;
  bottom: 15%;
  width: 65px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1), inset 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  line-height: 1;
}

.search .search__container button:hover {
  color: #d2302f;
  box-shadow: 3px 3px 5px 1px rgba(210, 48, 47, 0.1), inset 0.5px 0.5px 7px 1px rgba(210, 48, 47, 0.1);
  transition: all 0.5s;
}

/* RECOMMENDATION  */
.recommendation {
  width: 70vw;
  height: 100%;
  margin: 100px auto;
}

.recommendation .reco__text {
  color: var(--black-colorTwo);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

.recommendation .gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.recommendation .gallery div {
  position: relative;
  border-radius: 17px;
}

.recommendation .gallery .bg1 {
  width: 68%;
  height: 350px;
  background: url(./IMG/RECO/bg1.jpg) no-repeat center;
  background-size: cover;
  margin-right: 7px;
}

.recommendation .gallery .bg2 {
  width: 31%;
  height: 350px;
  background: url(./IMG/RECO/bg2.jpg) no-repeat center 20%;
  background-size: cover;
}

.recommendation .gallery .bg3 {
  width: 31%;
  height: 350px;
  background: url(./IMG/RECO/bg3.jpg) no-repeat center;
  background-size: cover;
  margin: 7px 7px 0 0;
}

.recommendation .gallery .bg4 {
  width: 68%;
  height: 350px;
  background: url(./IMG/RECO/bg4.jpg) no-repeat;
  background-size: cover;
  margin-top: 7px;
}

.recommendation .gallery div p {
  font-size: 33px;
  font-weight: 700;
  color: var(--white-colorOne);
  position: absolute;
  left: 37px;
  bottom: 8%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* ADVANTAGES */
.advantages {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 100px 0;
}

.advantages .advantages__container {
  width: 70vw;
  margin: 0 auto;
}

.advantages .advantages__container p {
  color: var(--black-colorTwo);
  font-size: 36px;
  font-weight: 800;
}

.advantages .advantages__container .advantages__contents {
  display: flex;
  margin-top: 20px;
}

.advantages .advantages__container .advantages__contents .contents__left {
  width: 50%;
  height: 80vh;
  background: url(IMG/ADVANTAGES/advantages2.jpg) no-repeat center;
  background-size: cover;
}

.advantages .advantages__container .advantages__contents .contents__right {
  width: 50%;
  height: 80vh;
}

.advantages .advantages__container .advantages__contents .contents__right ul {
  height: 90%;
}

.advantages .advantages__container .advantages__contents .contents__right ul li {
  margin: 25px auto;
  width: 52%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--black-colorTwo);
}

.advantages .advantages__container .advantages__contents .contents__right ul li:nth-child(1) {
  position: relative;
  left: -1%;
}

.advantages .advantages__container .advantages__contents .contents__right ul li:nth-child(2) {
  position: relative;
  left: 7%;
  margin-top: 60px;
}

.advantages .advantages__container .advantages__contents .contents__right ul li:nth-child(3) {
  position: relative;
  left: -5%;
  margin-top: 40px;
}

.advantages .advantages__container .advantages__contents .contents__right ul li b {
  font-size: 50px;
  font-weight: 900;
}

.advantages .advantages__container .advantages__contents .contents__right ul li:nth-child(1) b {
  color: #de5b26;
}

.contents__right ul li:nth-child(2) b {
  color: #eb931c;
}

.contents__right ul li:nth-child(3) b {
  color: #f6c211;
}

.advantages .advantages__container .advantages__contents .contents__right ul li span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: var(--black-colorOne);
  vertical-align: text-top;
  margin-top: 15px;
}

.advantages .advantages__container .advantages__contents .contents__right button {
  width: 130px;
  height: auto;
  padding: 7px 15px;
  border: 1px solid var(--black-colorOne);
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 230px;
  transition: all 0.3s;
}

.advantages .advantages__container .advantages__contents .contents__right button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* ABOUT */
.about {
  width: 100%;
  height: 30vmin;
  background: url(IMG/ABOUT/bg.png) no-repeat fixed;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.about::after {
  content: "";
  display: block;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.about .about__wrap {
  width: 70vw;
  margin: auto;
  display: flex;
}

.about .about__wrap .about__text__wrap {
  width: 60%;
  padding-left: 120px;
}

.about .about__wrap .about__text__wrap p {
  font-size: 28px;
  font-weight: 700;
  color: var(--white-colorOne);
  letter-spacing: 2px;
}

.about .about__wrap .about__text__wrap .about__text1 {
  margin-bottom: 5px;
}

.about .about__wrap .about__text__wrap .about__text1 span {
  color: var(--main-color);
  font-size: 32px;
}

.about .about__wrap .about__btn {
  width: 40%;
  padding: 52px 0 0 70px;
}

.about .about__wrap .about__btn button {
  padding: 11px 31px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  color: #ffffff;
  font-size: 12.5px;
  transition: all 0.35s;
}

.about .about__wrap .about__btn button:hover {
  background-color: rgba(210, 48, 47, 0.85);
}

.about .about__wrap .about__btn .sign-up {
  margin-right: 9px;
}

/* ROOM */
.room {
  width: 100%;
  padding: 100px 0;
  background-color: #ffffff;
}

.roomBox {
  max-width: 70vw;
  margin: 0 auto;
}

.roomBox .roomTitle p:nth-child(1) {
  font-size: 36px;
  font-weight: 800;
  color: var(--black-colorTwo);
  position: relative;
  z-index: 2;
}

.roomBox .roomTitle p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.room .roomBox .roomCard {
  display: flex;
  margin: 55px 0;
}

.room .roomBox .roomCard div {
  width: 18.75em;
  height: 25em;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 20px;
}

.room .roomBox .roomCard div ul {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.room .roomBox .roomCard div ul li:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--white-colorTwo);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.room .roomBox .roomCard div ul li:nth-child(2) {
  width: 3.125em;
  height: 3px;
  border-radius: 3px;
  background-color: var(--white-colorTwo);
  margin: 10px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.room .roomBox .roomCard .cardOne {
  background: url(/IMG/ROOM/hotel.png) no-repeat center;
  background-size: cover;
  object-fit: cover;
}

.room .roomBox .roomCard .cardTwo {
  background: url(/IMG/ROOM/resort.png);
  background-size: cover;
  object-fit: cover;
}

.room .roomBox .roomCard .cardThree {
  background: url(/IMG/ROOM/apartment.png) center;
  background-size: cover;
  object-fit: cover;
}

.room .roomBox .roomCard .cardFour {
  background: url(/IMG/ROOM/hostel.png) center;
  background-size: cover;
  object-fit: cover;
  margin: 0;
}

/* FOOTER */
footer {
  font-weight: 300;
  width: 100%;
  padding: 100px 0;
}

footer .footerContainer {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  color: var(--black-colorTwo);
  font-size: 13px;
}

footer .footerContainer img {
  margin-bottom: 30px;
}

footer .footerContainer ul li {
  margin-bottom: 10px;
  position: relative;
}

footer .footerContainer ul li a {
  color: var(--black-colorTwo);
}

footer .footerContainer ul li a:nth-child(1) {
  margin-right: 40px;
}

footer .footerContainer ul li span {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(0, -50%);
}

/* @MEDIA */
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  /* nav */
  nav .nav__wrap {
    width: 70vw;
  }

  nav .nav__wrap .nav__leftMenu > span {
    visibility: visible;
  }

  nav .nav__wrap .nav__leftMenu {
    visibility: hidden;
  }

  nav .nav__wrap .nav__rightMenu {
    visibility: hidden;
  }

  /* main */
  main .mainText__wrap {
    width: 70vw;
  }

  main .mainText__wrap::after {
    width: 70vw;
  }

  main .mainText__wrap .mainText {
    width: 90%;
    text-align: center;
  }

  main .mainText__wrap .mainText h1::after {
    visibility: hidden;
  }

  /* search */
  .search {
    height: 60vh;
  }

  .search .search__container {
    width: 70vw;
    margin: 0 auto;
  }

  .search .search__container p {
    font-size: 34px;
  }

  .search .search__container .search__input-wrap {
    display: block;
    margin: 0;
  }

  .search .search__container .search__input-wrap .search__date {
    width: 85%;
    margin: 0;
  }

  .search .search__container .search__input-wrap .search__date #in {
    width: 100%;
  }

  .search .search__container .search__input-wrap .search__date #out {
    width: 100%;
    display: block;
    margin: 20px 0 0 0;
  }

  .search .search__container .search__input-wrap .search__textfield {
    width: 100%;
    margin: 25px 0 0 0;
  }

  .search .search__container button {
    bottom: 10%;
  }

  /* recommendation */

  .recommendation .reco__text {
    font-size: 30px;
    font-weight: 700;
  }

  .recommendation .gallery {
    justify-content: center;
    align-items: center;
  }

  .recommendation .gallery .bg1 {
    width: 70%;
    margin: 0 0 15px 0;
  }

  .recommendation .gallery .bg2 {
    width: 70%;
    margin: 0 0 15px 0;
  }

  .recommendation .gallery .bg3 {
    width: 70%;
    margin: 0 0 15px 0;
  }

  .recommendation .gallery .bg4 {
    width: 70%;
    margin: 0 0 15px 0;
  }

  .recommendation .gallery div p {
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    right: 5%;
  }

  /* advantage */
  .advantages .advantages__container p {
    font-size: 30px;
  }

  .advantages .advantages__container .advantages__contents .contents__right ul li {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  .advantages .advantages__container .advantages__contents .contents__right ul li b {
    font-size: 40px;
    font-weight: 800;
  }

  /* about */
  .about {
    padding: 40px 0 40px 0;
    height: 100%;
    display: block;
  }

  .about .about__wrap {
    display: block;
    width: 100%;
    width: 70vw;
  }

  .about .about__wrap .about__text__wrap {
    width: 100%;
    padding: 0;
  }

  .about .about__wrap .about__btn {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .about .about__wrap .about__btn button:nth-child(1) {
    margin-right: 20px;
  }

  /* ROOM */
  .room {
    background-size: cover;
    object-fit: cover;
  }

  .room .roomBox {
    width: 70vw;
  }

  .roomBox .roomTitle p:nth-child(1) {
    font-size: 30px;
  }

  .roomBox .roomTitle p:nth-child(2) {
    font-size: 16px;
  }

  .room .roomBox .roomCard {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .room .roomBox .roomCard div {
    margin: 15px auto;
    width: 100%;
  }

  .room .roomBox .roomCard .cardTwo {
    background-position: bottom right;
  }

  .room .roomBox .roomCard .cardFour {
    background-position: 50% 70%;
  }

  .room .roomBox .roomCard div ul li:nth-child(1) {
    font-size: 1.8rem;
  }

  /* FOOTER */
  footer .footerContainer ul {
    width: 80%;
    margin: 0 auto;
  }

  footer .footerContainer ul li span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

@media (max-width: 1100px) {
  /* main */
  main .mainText__wrap .mainText h1::after {
    visibility: hidden;
  }

  /* search */

  .search .search__container .search__input-wrap .search__date #in {
    width: 100%;
  }

  .search .search__container .search__input-wrap .search__date #out {
    margin: 15px 0 0 0;
    width: 100%;
  }

  .search .search__container .search__input-wrap .search__date > span {
    margin: 0;
    display: block;
  }

  .search .search__container .search__input-wrap .search__date span input[type="date"] {
    width: 50%;
  }
}
